.form{
    width:600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px auto;
    padding:10px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #70c0f95e;
}
.container{
    text-align: center;
}
input{
    width:100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-left: 5px;
    outline: none;
}
.button{
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    background-color: #059cd9;
    border: 1px solid #059cd9;
    margin-top: 5px;
    cursor: pointer;
}
.formControl{
    display:flex;
    align-items: center;
    width: 100%;
}
.btnContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 400px) {
    .form{
        width: 95%;
    }
}