.container{
    width:700px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius:5px;
    background-color:white;
    padding: 10px 20px;
}
.options{
    width:100px;
    display: flex;
    justify-content:space-evenly;
}
.editBtn{
    padding:3px 5px;
    border-radius: 5px;
    color:white;
    background-color:#059cd9;
    border:1px solid  #059cd9;
    cursor: pointer;
}
.deleteBtn{
    padding:3px 5px;
    border-radius: 5px;
    background-color:white;
    color:red;
    border:1px solid red;
    cursor: pointer;
}
.container img{
    width: 30px;
}
.nameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    margin-left: 20px;
}
.nameValue , .emailValue{
    font-weight: bold;
}
@media screen and (max-width: 400px) {
   .container{
       width: 95%;
       flex-direction: column;
       justify-content: flex-start;
   }
    .nameContainer{
        display: flex;
        flex-direction: column;
    }
    .name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .email{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}