a{
    text-decoration: none;
    color:white;
}
a:active{
    text-decoration: none;
    color:white;
}
a:visited{
    text-decoration: none;
    color:white;
}
.addNewBtn{
    background-color:#059cd9 ;
    border: 1px solid #059cd9;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    color:white;
}
.info{
    margin-top: 15px;
}